 @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.navbar{
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    /* position: fixed; */
    /* margin-left:  700px; */
    background-color: rgb(6, 6, 6);
  }
  .navbar img{
    width: 195px;
    height: 50px;
    margin-top: 15px;
    margin-left: 15px;
  }
  .navbar ul li{
    /* display: inline-block; */
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    float: left;
    /* letter-spacing: 0.5px; */
  }
  .navbar ul li a{
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    top: 15px;
    padding-right: 35px;
    position: relative;
    text-decoration: none;
  }
  .navbar ul li a:hover{
    color: rgb(216, 202, 197);
  }